*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    /* primary color  */
    --Orange: hsl(26, 100%, 55%);
    --PaleOrange: hsl(25, 100%, 94%);
    /* natural */
    --Verydarkblue: hsl(220, 13%, 13%);
    --Darkgrayishblue: hsl(219, 9%, 45%);
    --Grayishblue: hsl(220, 14%, 75%);
    --Lightgrayishblue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}
.nav-continer{
    width: 100%;
    height:70px;
    /* background-color: antiquewhite; */
    display: flex;
}
.nav-logo{
    width:15%;
    height:70px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.nav-menu-continer{
    height: 70px;
    width: 60%;
}
.nav-menu-continer .nav-list{
    width: 100%;
    height: 70px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: start;
    align-items:center;
    list-style: none;
}
.nav-menu-continer .nav-list .menu-item{
    padding:8px 18px;
}
.nav-menu-continer .nav-list .menu-item .nav-link{
    text-decoration: none;
    color:var(--Darkgrayishblue);
    position: relative;
}
.nav-menu-continer .nav-list .menu-item .nav-link::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color:var(--Orange);
    top:20px;
    transform:scaleX(0);
    transition:.3s ease-in-out;
}
.nav-menu-continer .nav-list .menu-item .nav-link:hover{
    color:var(--Black);
}
.nav-menu-continer .nav-list .menu-item .nav-link:hover::before{
   transform:scaleX(1);
}
/* end nav items */

/* user continer */
.card-logo-and-user-icon-container{
    width:25%;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-icon{
    width: max-content;
    height: max-content;
    margin-right:30px;
    position: relative;
}
.card-icon svg{
    cursor: pointer;
}
.card-icon svg:hover{
    path{
        fill: var(--Black);
    }
}
.user-icon{
    height: fit-content;
    width: fit-content;
}
.user-icon img{
   height: 35px;
   width: 35px;
   border:2px solid transparent;
   cursor:pointer;
}
.user-icon img:hover{
    border:2px solid var(--Orange);
    border-radius: 50%;
}
/* menu icons  javaScript aplie*/
.cross-icon{
    display: none;
}
.toggle_btn{
    display: none;
}
/* responsib navigation */
@media screen and (max-width:768px) {
    .toggle_btn{
        display: block;
        padding:10px;
        cursor: pointer;
    }
    .cross-icon{
        display: block;
        width: 30px;
        height: 30px;
        margin-top:20px;
        margin-left:14px;
        cursor:pointer;
    }
    .cross-icon img{
        width: 20px;
        height: 20px;
    }
    .nav-menu-continer{
       position: absolute;
       width: 30%;
       height: 100vh;
       background-color: var(--White);
       left: -200px;
       visibility: hidden;
       opacity: 0;
       pointer-events: none;
       transition:.5s ease-in-out;
       z-index: 999;
    }
    .nav-menu-continer .nav-list{
        width: 100%;
        height: 50vh;
        display: block;
        margin-top:27px;
    }
    /* nav logo */
    .nav-continer {
        justify-content: space-between;
    }
    .nav-logo {
        width: 50%;
        margin-left: 0;
    }
    .card-logo-and-user-icon-container {
        width: 50%;
    }
    /* Applie JavaScript  */
    .open{
        pointer-events: painted;
        visibility: visible;
        opacity: 1;
        left: 0;
    }
}
@media screen and (max-width:375px) {
    .nav-menu-continer{
        width: 56%;
     }
     .card-icon {
        margin-left: 43px;
    }
    .nav-menu-continer .nav-list .menu-item .nav-link{
       font-weight: bold;
    }
}
/* end navigation */
/* mobile carousel */
.mobile-carousel{
    display: none;
}
@media screen and (max-width:570px) {
    .let-side {
        display: none;
    }
    /* carousel */
    .mobile-slide-icon-continer-1{
        width: 100%;
        height: 0;
        position: absolute;
        top:200px;
        display: flex;
        justify-content: space-between;
        z-index: 1;
    }
    .mobile-carousel{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .mobile-carousel-frame{
        width: 85%;
        height: auto;
        overflow-x: hidden;
    }
    .mobile-slider{
        width: 100%;
        height: auto;
        display: flex;
        transition:.5s;
    }
    .mobile-slide-img{
        width: 100%;
        height: auto;
    }
    .mobile-sli-prev{
        height: 40px;
        width: 40px;
        border-radius:50%;
        background-color: var(--White);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
    }
    .mobile-sli-next{
        height: 40px;
        width: 40px;
        border-radius:50%;
        background-color: var(--White);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
    }
    .mobile-sli-next:hover{
       svg path{
        stroke: red;
       }
    }
    .mobile-sli-prev:hover{
       svg path{
        stroke: red;
       }
    }
}

/* add card section */
.card-list-container{
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top:50px;
    margin-right:50px;
    border-radius:6px;
    display: none;
}
.card-empty{
    width: 100%;
    height: max-content;
    margin: auto;
}
.card-empty p{
    text-align: center;
}
.card_open{
    display: flex;
    background-color: #fff;
}

/* end navigation */

.product-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-content{
    width: 88%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.let-side{
    width: 50%;
    height: max-content;
    /* background-color: #fff; */
}
.right-side{
    width: 46%;
    height: 400px;
    /* background-color: #fff; */
    display: flex;
}
.product-photos{
    width: 100%;
    height: max-content;
}
.main-photo-container{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#m-photo{
    width: 60%;
    height: 90%;
    cursor: pointer;
}
/* chenge imgae container */
.change-image-photos{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.img-1{
    width: 70px;
    height: 75px;
    border-radius: 10px;
    border:3px solid transparent;
}
.img-1:hover{
    border: 3px solid var(--Orange);
}
.thambnal-img{
    width: 70px;
    height: 75px;
    border-radius: 10px;
    cursor: pointer;
}
.active{
    border: 3px solid var(--Orange);
    opacity: 0.5;
}
.thambnal-img:hover{
    opacity: 0.5;
}

/* procuct details */
.details-container{
    width: 80%;
    height: 400px;
}
.brand-name{
    width: 100%;
    height: max-content;
    color:var(--Orange);
    margin-bottom:20px;
}
.product-name{
    width: 100%;
    height: max-content;
    margin-bottom:20px;
}
.product-name-text{
    width: 70%;
    height: max-content;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
}
.product-detail{
    width: 100%;
    height: max-content;
    margin-bottom:20px;
}
.product-detail-text{
    width: 100%;
    height: max-content;
    margin-bottom:20px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    color:var(--Grayishblue);
    font-size: 16px;
}
.price{
    width: 100%;
    height: max-content;
    font-family: "Kumbh Sans", sans-serif;
}
.main-price{
    width: 100%;
    height: 33px;
    display: flex;
}
span{
    height: 20px;
    width: 35px;
    background-color: var(--PaleOrange);
    margin-left:12px;
    margin-top:4px;
    color:var(--Orange);
    display: flex;
    justify-content: center;
    align-items: center;
}
.old-price{
    width: 100%;
    height: 33px;
    text-decoration: line-through;
    color:var(--Grayishblue);
}
/* button amount */
.card-buttons{
    width: 100%;
    height: 40px;
    display: flex;

}
.item-amount{
    height: 40px;
    width: 30%;
    background-color: var(--Lightgrayishblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:8px;
}
.amount-btn{
    height: 35px;
    width: 40px;
    color:var(--Orange);
    background-color: var(--Lightgrayishblue);
    border:none;
    outline:none;
    cursor: pointer;
    font-size: 1.3rem;
}
.add-card-button{
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
}
.add_card_btn{
    width: 70%;
    height: 40px;
    background-color: var(--Orange);
    border:none;
    outline: none;
    color:var(--White);
    font-family: "Kumbh Sans", sans-serif;
    cursor: pointer;
    border-radius:5px;
}
.add_card_btn:hover{
    background-color: var(--Orange);
    opacity: 75%;
    /* box-shadow: 0 4px 8px 0 var(--Orange), 0 6px 20px 0 var(--PaleOrange); */
}
@media screen and (max-width:998px) {
    .product-content {
        width: 100%;
        height: max-content;
    }
    .right-side {
        width: 48%;
    }
}
@media screen and (max-width:768px) {
    .product-container {
        width: 100%;
        height: max-content;
    }
    .product-content {
        flex-direction: column;
    }
    .let-side {
        width: 100%;
    }
    .right-side {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
    }
    /* card container */
    .card-list-container{
        width: 80%;
        height: 400px;
        left:50%;
        transform:translateX(-50%);
        margin-right:0;
        z-index: 9999;
    }
}
@media screen and (max-width:450px) {
    .card-buttons {
        height: max-content;
       flex-direction: column;
    }
    .item-amount {
        height: 40px;
        width: 100%;
    }
    .details-container {
        width: 80%;
        height: max-content;
    }
    .add-card-button {
        width: 100%;
        height: 70px;
    }
    .item-amount {
        height: 40px;
        width: 100%;
        justify-content: space-between;
    }
    .product-name-text {
        width: 100%;
    }
    .add_card_btn {
        width: 100%;
        height: 50px;
    }
    .item-amount {
        margin-bottom: 10px;
    }
    .details-container {
        width: 90%;
        height: max-content;
    }
    #m-photo {
        width: 80%;
        height: 90%;
    }
}
/* start carousel */
.carousel-container{
    width: 100%;
    height: 100vh;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.frame{
    height: 470px;
    width: 350px;
    /* border:1px solid red;  */
    overflow-x: hidden;
}
.slider{
    width: 100%;
    height: 350px;
    /* border:1px solid red;  */
    display: flex;
    transition:.5s;
}
.images{
    width: 350px;
    height: 350px;
}
.indicators{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top:10px
}
.indicator-img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
/* closse button */
.close-icon-container{
    width: 100%;
}
.close-icon-container svg{
    float: right;
    margin-bottom:5px;
    cursor: pointer;
}
.close-icon-container svg path{
    fill: #fff;
}
.close-icon-container svg:hover{
    path{
        fill: var(--Orange);
    } 
}
/* next-prev buttons */
.next-prev-buttons{
    width: 352px;
    height: max-content;
    position: absolute;
}
.containe-next-prev-buttons{
    width: 110%;
    height: 0;
    display: flex;
    justify-content: space-between;
    position:relative;
    bottom:175px;
    right:20px;
}
.prev-button{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.next-button{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.prev-button:hover{
    svg path{
        stroke: var(--Orange);
    }
}
.next-button:hover{
    svg path{
        stroke: var(--Orange);
    }
}
/* java script */
.open_carosel{
    display: flex;
}